.checkout {
    width: 100%;
    height: 74vh;
    display: grid;
    place-items: center;
}

.form-container{
    display: grid;
    grid-template-rows: auto 1fr;
    width: 400px;
    height: 500px;
}


.tittle{
    font-size: var(--lg);
    font-weight: bold;
    text-align: start;
}


.form{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.finish{
    background-color: var(--sweet-home) !important;
    border: none !important;
    color: white !important;
    font-family: 'Quicksand', sans-serif !important;
    width: 100% !important;
    font-size: var(--lg) !important;
    font-weight: bold !important;
}
