.cart-empty{
    display: grid;
    place-content: center;
    place-items: center;
    margin-top: 28px;
}
.cart-empty h2{
    text-align: center;
}

.back-shop{
    background-color: var(--sweet-home);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 80%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
  font-family: "Quicksand", sans-serif;
  transition: all 0.4s;
}

.shop-button{
    border-radius: 8px;
    background-color: var(--sweet-home);
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--lg);
    font-weight: bold;
    height: 50px;
    font-family: 'Quicksand', sans-serif;
}



@media (max-width: 825px){
    .back-shop{
        width: 50% !important;
    }
    
    .info-sweet{
        width: 80%;
    }

    
}