.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  border-bottom: 1px solid var(--text-input-field);
}
.logo {
  width: 100px;
  margin-left: 24px;
  transition: all 0.4s;
}

.logo:hover {
  transform: scale(1.07);
  cursor: pointer;
}

.burguer{
  display: none !important;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin-left: 24px;
  display: flex;
  align-items: center;
  height: 60px;
}

.navbar ul li{
  margin-left: 18px;
  color: var(--very-light-pink);
  border: 1px solid var(--white);
  padding: 8px;
  border-radius: 8px;
  transition: all 0.7s;
}

.navbar ul li:hover {
  border: 1px solid var(--sweet-home);
  color: var(--sweet-home);
}

@media (max-width: 825px){
  ul {
    list-style: none;
    padding: 0;
  }

  ul li{
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 14px;
    border-radius: 8px;
    transition: all 0.7s;
    margin: 12px 12px 0;
  }
  ul li:hover {
    border: 1px solid var(--sweet-home);
    color: var(--sweet-home);
  }

  .burguer{
    display: block !important;
  }

  .container{
    justify-content: space-between;
  }

  .logo {
    margin: 0;
  }

  .navbar ul {
    display: none;
  }
}
