.footer-container{
    background-color: var(--sweet-home);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 125px;
    text-align: center;
}
.footer-container img{
    width: 100px;
    height: 100px;
}

.footer-container p{
    margin: 0;
    color: var(--text-input-field);
}
